@import '../../css/variables';

.title-component {
    position: relative;
    height: 80px;
    margin-bottom: 20px;
    padding-top: 21px;

    a {
        text-decoration: none;
    }
    .title {
        text-align: center;
    }
    .back-link, .logout, .managing {
        position: absolute;
        cursor: pointer;
    }
    .back-link {
        top: 20px;
        left: 30px;
        font-size: 46px;
        color: rgb(167, 167, 167);

        &:hover {
            color: rgb(116, 116, 116);
            transition: color .3s ease-in-out;
        }
    }
    .logout {
        top: 25px;
        right: 30px;
        font-size: 30px;
        color: #000000;
    }
    .managing {
        top: 30px;
        right: 80px;
        font-size: 30px;
        color: #000000;
    }
}
